<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.third.easyprice.dao.ShopDao">

    <resultMap id="BaseMap" type="com.third.easyprice.bean.Shop">
        <result property="id" column="id"/>
        <result property="productId" column="productId" jdbcType="VARCHAR" />
        <result property="productPrice" column="productPrice" jdbcType="VARCHAR" />
        <result property="productName" column="productName" jdbcType="VARCHAR" />
        <result property="pictureAdress" column="pictureAdress" jdbcType="VARCHAR" />
        <result property="productAmount" column="productAmount" jdbcType="VARCHAR" />
        <result property="crtTime" column="crtTime" jdbcType="TIMESTAMP" />
        <result property="source" column="source" jdbcType="VARCHAR" />
        <result property="auctionRanking" column="auctionRanking" jdbcType="VARCHAR" />
        <result property="productUrl" column="productUrl" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Basesql">
        id , productId , productPrice , productName , pictureAdress , productAmount ,crtTime
        source , auctionRanking , productUrl 
    </sql>
    <select id="queryByName" resultMap="BaseMap">
        select <include refid="Basesql" /> from productinfo where productName like '%' #{name} '%'
        order by auctionRanking desc
    </select>
</mapper>